[submodule "cardinal-perception"]
	path = cardinal-perception
	url = https://github.com/Cardinal-Space-Mining/Cardinal-Perception
[submodule "multiscan-driver"]
	path = multiscan-driver
	url = https://github.com/Cardinal-Space-Mining/multiscan-driver
[submodule "csm-sim"]
	path = csm-sim
	url = https://gitlab.com/csm2.0/csm-sim.git
[submodule "motor-control"]
	path = motor-control
	url = https://github.com/Cardinal-Space-Mining/PhoenixMotorInterface
[submodule "csm-metrics"]
	path = csm-metrics
	url = https://github.com/Cardinal-Space-Mining/csm-metrics.git
